body {
  font-family: 'Russo One', sans-serif;
  color: #336699;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
