.card {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  margin: 0 auto;
}

.card_breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 30px;
  text-transform: uppercase;
}

.breadcrumbs-item::after {
  position: absolute;
  right: -30px;
  top: -10px;
  content: "keyboard_double_arrow_right";
  font-family: "Material Symbols Outlined";
  font-size: 32px;
  color: #33cc99;
}

.card_wrapper {
  display: flex;
  width: 100%;
}

.card-image,
.card-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.card-image_active {
  width: 60%;
  height: auto;
  margin: 20px auto;
}

.thumbnail-list {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  border-top: 1px dotted rgb(51, 102, 153, 0.25);
}

.thumbnail-list_item {
  width: 100px;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px rgb(51, 102, 153, 0.1);
  cursor: pointer;
}

.thumbnail-list_item:hover,
.thumbnail-list_item.active {
  box-shadow: 0px 0px 2px 1px rgb(51, 102, 153, 0.5);
}

.card_title {
  margin: 0 auto 20px;
  padding: 0 20px;
  text-align: center;
  font-size: 32px;
  font-weight: 100;
  color: #33cc99;
  border-bottom: 1px solid #33cc99;
}

.card_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card-button_cart,
.card-button_buy {
  width: 50%;
  margin-bottom: 20px;
  font-family: "Russo One";
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(51, 102, 153);
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.card-button_cart:hover,
.card-button_buy:hover {
  background-color: rgb(51, 204, 153);
}

.card_price {
  margin: 0 auto 20px;
  font-size: 24px;
  font-weight: 100;
}

.card_discription,
.card_discount,
.card_rating,
.card_stock {
  font-size: 20px;
  font-weight: 100;
  padding: 10px;
  border-bottom: 1px dotted rgb(51, 102, 153, 0.25);
  text-align: center;
}

.card_price__value,
.card_discount__value,
.card_rating__value,
.card_stock__value {
  color: #33cc99;
}

@media (max-width: 1280px) {
  .thumbnail-list_item {
    width: 60px;
  }

  .card-button_cart,
  .card-button_buy {
    width: 60%;
    font-size: 16px;
  }

  .card_discription,
  .card_discount,
  .card_rating,
  .card_stock {
    font-size: 16px;
  }
}

@media (max-width: 760px) {
  .card_wrapper {
    flex-direction: column;
  }

  .breadcrumbs-item {
    margin-right: 16px;
    font-size: 12px;
  }

  .breadcrumbs-item::after {
    right: -16px;
    top: -3px;
    font-size: 16px;
  }

  .card-image,
  .card-info {
    width: 100%;
  }
}
