.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 25%;
  margin: 0 40px;
  &_header {
    width: 100%;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #33cc99;
    border-bottom: 1px dotted #33cc99;
  }
  &_title {
    width: 40%;
    margin: 0;
    font-size: 32px;
    font-weight: 100;
    text-transform: uppercase;
    color: #33cc99;
  }
  &_buttons {
    width: 170px;
  }
  &_buttons__reset,
  &_buttons__copy {
    width: 80px;
    font-family: "Russo One", sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background-color: rgb(51, 204, 153, 0.5);
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    &:hover {
      color: #fff;
      background-color: rgb(51, 102, 153);
    }
  }
  &_fieldset {
    flex-direction: column;
    width: calc(100% - 22px);
    max-height: 185px;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px dotted rgb(51, 204, 153, 0.5);
    overflow-y: auto;
  }
}

.aside_fieldset::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  cursor: pointer;
}

.aside_fieldset::-webkit-scrollbar-thumb {
  background-color: rgb(51, 204, 153, 0.5);
  border-radius: 4px;
}

.fieldset_legend {
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  color: #33cc99;
}

.fieldset_item__checkbox {
  width: calc(100% - 10px);
  margin: 2px 0;
  padding: 5px;
  border-bottom: 1px dotted rgb(51, 204, 153, 0.25);
}

.fieldset_item__checkbox label,
.fieldset_item__checkbox input {
  cursor: pointer;
}

.item-count {
  margin-left: auto;
}

.fieldset_item__range {
  position: relative;
  margin: 0 4px;
  width: calc(100% - 10px);
  height: 24px;
  .range__lower,
  .range__upper {
    position: absolute;
    &.range__upper {
      background: none;
    }
  }
}

.range-value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 28px;
  margin-bottom: 10px;
}

.range-value_price__min,
.range-value_price__max,
.range-value_stock__min,
.range-value_stock__max {
  color: #33cc99;
  margin-left: 5px;
}

.material-icons {
  font-family: "Material Symbols Outlined";
  font-size: 24px;
  margin: 0 10px;
  color: #33cc99;
}

.range__lower,
.range__upper {
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  outline: none;
  background: linear-gradient(#336699, #336699) no-repeat center;
  background-size: 100% 4px;
  pointer-events: none;
  &::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 16px;
    background-color: #33cc99;
    position: relative;
    cursor: pointer;
    appearance: none;
    pointer-events: all;
  }
}

.unshow {
  opacity: .6;
}

@media (max-width: 1280px) {
  .main {
    flex-direction: column;
  }

  .aside {
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% - 80px);
  }

  .aside_fieldset {
    width: calc(50% - 40px);
  }
}

@media (max-width: 640px) {
  .aside_fieldset {
    width: calc(100% - 20px);
  }

  .aside_title {
    font-size: 24px;
  }
}
